<%- include header %>
<form method='post' action='/upload' enctype='multipart/form-data'>
<input type='file' name='file1'></input><br/>
<input type='file' name='file2'></input><br/>
<input type='file' name='file3'></input><br/>
<input type='file' name='file4'></input><br/>
<input type='file' name='file5'></input><br/>
<input type='submit'></input>
</form>
<%- include footer %>